@charset "UTF-8";
/*
 * Icons
 */
@font-face {
  font-family: XWing;
  src: url("xwing-miniatures.ttf"); }

i.xwi {
  font-family: XWing;
  font-style: normal;
  font-size: 1.2em; }

i.xwir {
  color: crimson;
  font-family: XWing;
  font-style: normal;
  font-size: 1.2em; }

i.xwiv {
  font-family: XWing;
  color: crimson;
  font-style: normal;
}

/* MANEUVERS */
div.xw-man {
  text-align: center;
  font-style: normal;
  font-size: 1.5em;
}


/* NORMAL MANEUVERS */
i.xwm {
  font-family: XWing;
  font-style: normal;
  font-size: 110%;
  /* TODO: color should be white with black outline */
}

/* RED MANEUVERS */
i.xwmr {
  font-family: XWing;
  font-style: normal;
  color: crimson;
  font-size: 110%;
}

/* BLUE MANEUVERS */
i.xwmb {
  font-family: XWing;
  font-style: normal;
  color: #007bff;
  font-size: 110%;
}

/* DIRECT INSERTION OF SYMBOLS */
i.x-agility:before {
  content: "^"; }

i.x-astromech:before {
  content: "A"; }

i.x-attack:before {
  content: "%"; }

i.x-bankleft:before {
  content: "7"; }

i.x-bankright:before {
  content: "9"; }

i.x-barrelroll:before {
  content: "r"; }

i.x-base-all:before {
  content: "À"; }

i.x-base-small:before {
  content: "Á"; }

i.x-base-medium:before {
  content: "Â"; }

i.x-base-large:before {
  content: "Ã"; }

i.x-boost:before {
  content: "b"; }

i.x-bullseyearc:before {
  content: "}"; }

i.x-calculate:before {
  content: "a"; }

i.x-cannon:before {
  content: "C"; }

i.x-cargo:before {
  content: "G"; }

i.x-charge:before {
  content: "g"; }

i.x-cloak:before {
  content: "k"; }

i.x-condition-outline:before {
  content: "Æ"; }

i.x-condition:before {
  content: "°"; }

i.x-config:before {
  content: "n"; }

i.x-coordinate:before {
  content: "o"; }

i.x-crew:before {
  content: "W"; }

i.x-crit:before {
  content: "c"; }

i.x-dalan-bankleft:before {
  content: "["; }

i.x-dalan-bankright:before {
  content: "]"; }

i.x-device:before {
  content: "B"; }

i.x-doublerecurring:before {
  content: "_"; }

i.x-doubleturretarc:before {
  content: "q"; }

i.x-empire:before {
  content: "@"; }

i.x-energy:before {
  content: "("; }

i.x-epic:before {
  content: ")"; }

i.x-evade:before {
  content: "e"; }

i.x-firstorder:before {
  content: "+"; }

i.x-focus:before {
  content: "f"; }

i.x-forcecharge:before {
  content: "h"; }

i.x-forcepower:before {
  content: "F"; }

i.x-frontarc:before {
  content: "{"; }

i.x-fullfrontarc:before {
  content: "~"; }

i.x-fullreararc:before {
  content: "¡"; }

i.x-fuse:before {
  content: ","; }

i.x-gunner:before {
  content: "Y"; }

i.x-hardpoint:before {
  content: "H"; }

i.x-helmet-imperial:before {
  content: "y"; }

i.x-helmet-rebel:before {
  content: "x"; }

i.x-helmet-scum:before {
  content: "z"; }

i.x-hit:before {
  content: "d"; }

i.x-hull:before {
  content: "&"; }

i.x-ig88d-sloopleft:before {
  content: '"'; }

i.x-ig88d-sloopright:before {
  content: "'"; }

i.x-illicit:before {
  content: "I"; }

i.x-jam:before {
  content: "j"; }

i.x-kturn:before {
  content: "2"; }

i.x-leftarc:before {
  content: "£"; }

i.x-linked:before {
  content: ">"; }

i.x-lock:before {
  content: "l"; }

i.x-missile:before {
  content: "M"; }

i.x-modification:before {
  content: "m"; }

i.x-obstacle-core2asteroid0-outline:before {
  content: "ĉ"; }

i.x-obstacle-core2asteroid0:before {
  content: "ĥ"; }

i.x-obstacle-core2asteroid1-outline:before {
  content: "Č"; }

i.x-obstacle-core2asteroid1:before {
  content: "Ĩ"; }

i.x-obstacle-core2asteroid2-outline:before {
  content: "Ċ"; }

i.x-obstacle-core2asteroid2:before {
  content: "Ħ"; }

i.x-obstacle-core2asteroid3-outline:before {
  content: "ċ"; }

i.x-obstacle-core2asteroid3:before {
  content: "ħ"; }

i.x-obstacle-core2asteroid4-outline:before {
  content: "č"; }

i.x-obstacle-core2asteroid4:before {
  content: "ĩ"; }

i.x-obstacle-core2asteroid5-outline:before {
  content: "Ď"; }

i.x-obstacle-core2asteroid5:before {
  content: "Ī"; }

i.x-obstacle-coreasteroid0-outline:before {
  content: "Ă"; }

i.x-obstacle-coreasteroid0:before {
  content: "Ğ"; }

i.x-obstacle-coreasteroid1-outline:before {
  content: "ă"; }

i.x-obstacle-coreasteroid1:before {
  content: "ğ"; }

i.x-obstacle-coreasteroid2-outline:before {
  content: "ā"; }

i.x-obstacle-coreasteroid2:before {
  content: "ĝ"; }

i.x-obstacle-coreasteroid3-outline:before {
  content: "ą"; }

i.x-obstacle-coreasteroid3:before {
  content: "ġ"; }

i.x-obstacle-coreasteroid4-outline:before {
  content: "Ą"; }

i.x-obstacle-coreasteroid4:before {
  content: "Ġ"; }

i.x-obstacle-coreasteroid5-outline:before {
  content: "Ā"; }

i.x-obstacle-coreasteroid5:before {
  content: "Ĝ"; }

i.x-obstacle-vt49decimatordebris0-outline:before {
  content: "Đ"; }

i.x-obstacle-vt49decimatordebris0:before {
  content: "Ĭ"; }

i.x-obstacle-vt49decimatordebris1-outline:before {
  content: "đ"; }

i.x-obstacle-vt49decimatordebris1:before {
  content: "ĭ"; }

i.x-obstacle-vt49decimatordebris2-outline:before {
  content: "ć"; }

i.x-obstacle-vt49decimatordebris2:before {
  content: "ģ"; }

i.x-obstacle-yt2400debris0-outline:before {
  content: "ď"; }

i.x-obstacle-yt2400debris0:before {
  content: "ī"; }

i.x-obstacle-yt2400debris1-outline:before {
  content: "Ĉ"; }

i.x-obstacle-yt2400debris1:before {
  content: "Ĥ"; }

i.x-obstacle-yt2400debris2-outline:before {
  content: "Ć"; }

i.x-obstacle-yt2400debris2:before {
  content: "Ģ"; }

i.x-obstacle-gascloud1:before {
  content: "Į"; }

i.x-obstacle-gascloud1-outline:before {
  content: "Ē"; }

i.x-obstacle-gascloud2:before {
  content: "į"; }

i.x-obstacle-gascloud2-outline:before {
  content: "ē"; }

i.x-obstacle-gascloud3:before {
  content: "İ"; }

i.x-obstacle-gascloud3-outline:before {
  content: "Ĕ"; }

i.x-rangebonusindicator:before {
  content: "?"; }

i.x-reararc:before {
  content: "|"; }

i.x-rebel-outline:before {
  content: "-"; }

i.x-rebel:before {
  content: "!"; }

i.x-recover:before {
  content: "v"; }

i.x-recurring:before {
  content: "`"; }

i.x-reinforce:before {
  content: "i"; }

i.x-reload:before {
  content: "="; }

i.x-republic:before {
  content: "/"; }

i.x-reversebankleft:before {
  content: "J"; }

i.x-reversebankright:before {
  content: "L"; }

i.x-reversestraight:before {
  content: "K"; }

i.x-rightarc:before {
  content: "¢"; }

i.x-rotatearc:before {
  content: "R"; }

i.x-scum:before {
  content: "#"; }

i.x-separatists:before {
  content: "."; }

i.x-sensor:before {
  content: "S"; }

i.x-shield:before {
  content: "*"; }

i.x-singleturretarc:before {
  content: "p"; }

i.x-slam:before {
  content: "s"; }

i.x-sloopleft:before {
  content: "1"; }

i.x-sloopright:before {
  content: "3"; }

i.x-squad-point-cost:before {
  content: "0"; }

i.x-stop:before {
  content: "5"; }

i.x-straight:before {
  content: "8"; }

i.x-tacticalrelay:before {
  content: "Z"; }

i.x-talent:before {
  content: "E"; }

i.x-team:before {
  content: "T"; }

i.x-tech:before {
  content: "X"; }

i.x-title:before {
  content: "t"; }

i.x-token-calculate-outline:before {
  content: "Ë"; }

i.x-token-calculate:before {
  content: "Ê"; }

i.x-token-charge-outline:before {
  content: "Ó"; }

i.x-token-charge:before {
  content: "Ò"; }

i.x-token-crit-outline:before {
  content: "è"; }

i.x-token-crit:before {
  content: "Ç"; }

i.x-token-cloak-outline:before {
  content: "ô"; }

i.x-token-cloak:before {
  content: "å"; }

i.x-token-evade-outline:before {
  content: "é"; }

i.x-token-evade:before {
  content: "Å"; }

i.x-token-focus-outline:before {
  content: "ç"; }

i.x-token-focus:before {
  content: "Ä"; }

i.x-token-force-outline:before {
  content: "Õ"; }

i.x-token-force:before {
  content: "Ô"; }

i.x-token-disarm-outline:before {
  content: "í"; }

i.x-token-disarm:before {
  content: "Ö"; }

i.x-token-ion-outline:before {
  content: "ó"; }

i.x-token-ion:before {
  content: "ä"; }

i.x-token-jam-outline:before {
  content: "ð"; }

i.x-token-jam:before {
  content: "á"; }

i.x-token-lock-outline:before {
  content: "ò"; }

i.x-token-lock:before {
  content: "ã"; }

i.x-token-reinforce-outline:before {
  content: "ì"; }

i.x-token-reinforce:before {
  content: "Ü"; }

i.x-token-reinforceaft-outline:before {
  content: "î"; }

i.x-token-reinforceaft:before {
  content: "Ý"; }

i.x-token-shield-outline:before {
  content: "ë"; }

i.x-token-shield:before {
  content: "Ñ"; }

i.x-token-stress-outline:before {
  content: "ê"; }

i.x-token-stress:before {
  content: "É"; }

i.x-token-tractor-outline:before {
  content: "ï"; }

i.x-token-tractor:before {
  content: "à"; }

i.x-torpedo:before {
  content: "P"; }

i.x-trollleft:before {
  content: ":"; }

i.x-trollright:before {
  content: ";"; }

i.x-turnleft:before {
  content: "4"; }

i.x-turnright:before {
  content: "6"; }

i.x-turret:before {
  content: "U"; }

i.x-unique-outline:before {
  content: "•"; }

i.x-unique:before {
  content: "u"; }

/*
 * Ships
 */
@font-face {
  font-family: XWingShip;
  src: url("xwing-miniatures-ships.ttf"); }

i.xwing-miniatures-ship {
  font-family: XWingShip;
  font-style: normal;
  font-size: 1.5em; }

i.xwing-miniatures-ship-aggressorassaultfighter:before {
  content: "i"; }

i.xwing-miniatures-ship-alphaclassstarwing:before {
  content: "&"; }

i.xwing-miniatures-ship-arc170starfighter:before {
  content: "c"; }

i.xwing-miniatures-ship-asf01bwing:before {
  content: "b"; }

i.xwing-miniatures-ship-attackshuttle:before {
  content: "g"; }

i.xwing-miniatures-ship-auzituckgunship:before {
  content: "@"; }

i.xwing-miniatures-ship-belbullab22starfighter:before {
  content: "["; }

i.xwing-miniatures-ship-btla4ywing:before {
  content: "y"; }

i.xwing-miniatures-ship-btlbywing:before {
  content: ":"; }

i.xwing-miniatures-ship-btls8kwing:before {
  content: "k"; }

i.xwing-miniatures-ship-cr90corvette:before {
  content: "2"; }

i.xwing-miniatures-ship-croccruiser:before {
  content: "5"; }

i.xwing-miniatures-ship-customizedyt1300lightfreighter:before {
  content: "W"; }

i.xwing-miniatures-ship-delta7aethersprite:before {
  content: "\\"; }

i.xwing-miniatures-ship-escapecraft:before {
  content: "X"; }

i.xwing-miniatures-ship-ewing:before {
  content: "e"; }

i.xwing-miniatures-ship-fangfighter:before {
  content: "M"; }

i.xwing-miniatures-ship-firesprayclasspatrolcraft:before {
  content: "f"; }

i.xwing-miniatures-ship-g1astarfighter:before {
  content: "n"; }

i.xwing-miniatures-ship-gozanticlasscruiser:before {
  content: "4"; }

i.xwing-miniatures-ship-gr75mediumtransport:before {
  content: "1"; }

i.xwing-miniatures-ship-hwk290lightfreighter:before {
  content: "h"; }

i.xwing-miniatures-ship-hyenaclassdroidbomber:before {
  content: "="; }

i.xwing-miniatures-ship-jumpmaster5000:before {
  content: "p"; }

i.xwing-miniatures-ship-kihraxzfighter:before {
  content: "r"; }

i.xwing-miniatures-ship-lambdaclasst4ashuttle:before {
  content: "l"; }

i.xwing-miniatures-ship-lancerclasspursuitcraft:before {
  content: "L"; }

i.xwing-miniatures-ship-m12lkimogilafighter:before {
  content: "K"; }

i.xwing-miniatures-ship-m3ainterceptor:before {
  content: "s"; }

i.xwing-miniatures-ship-mg100starfortress:before {
  content: "Z"; }

i.xwing-miniatures-ship-modifiedtielnfighter:before {
  content: "C"; }

i.xwing-miniatures-ship-modifiedyt1300lightfreighter:before {
  content: "m"; }

i.xwing-miniatures-ship-nabooroyaln1starfighter:before {
  content: "<"; }

i.xwing-miniatures-ship-nantexclassstarfighter:before {
  content: ";"; }

i.xwing-miniatures-ship-quadrijettransferspacetug:before {
  content: "q"; }

i.xwing-miniatures-ship-raiderclasscorvette:before {
  content: "3"; }

i.xwing-miniatures-ship-resistancetransport:before {
  content: ">"; }

i.xwing-miniatures-ship-resistancetransportpod:before {
  content: "?"; }

i.xwing-miniatures-ship-rz1awing:before {
  content: "a"; }

i.xwing-miniatures-ship-rz2awing:before {
  content: "E"; }

i.xwing-miniatures-ship-scurrgh6bomber:before {
  content: "H"; }

i.xwing-miniatures-ship-scavengedyt1300:before {
  content: "Y"; }

i.xwing-miniatures-ship-sheathipedeclassshuttle:before {
  content: "%"; }

i.xwing-miniatures-ship-sithinfiltrator:before {
  content: "]"; }

i.xwing-miniatures-ship-starviperclassattackplatform:before {
  content: "v"; }

i.xwing-miniatures-ship-t65xwing:before {
  content: "x"; }

i.xwing-miniatures-ship-t70xwing:before {
  content: "w"; }

i.xwing-miniatures-ship-tieadvancedv1:before {
  content: "R"; }

i.xwing-miniatures-ship-tieadvancedx1:before {
  content: "A"; }

i.xwing-miniatures-ship-tieagaggressor:before {
  content: "`"; }

i.xwing-miniatures-ship-tiecapunisher:before {
  content: "N"; }

i.xwing-miniatures-ship-tieddefender:before {
  content: "D"; }

i.xwing-miniatures-ship-tiefofighter:before {
  content: "O"; }

i.xwing-miniatures-ship-tieinterceptor:before {
  content: "I"; }

i.xwing-miniatures-ship-tielnfighter:before {
  content: "F"; }

i.xwing-miniatures-ship-tiephphantom:before {
  content: "P"; }

i.xwing-miniatures-ship-tiereaper:before {
  content: "V"; }

i.xwing-miniatures-ship-tiesabomber:before {
  content: "B"; }

i.xwing-miniatures-ship-tiesffighter:before {
  content: "S"; }

i.xwing-miniatures-ship-tievnsilencer:before {
  content: "$"; }

i.xwing-miniatures-ship-tieskstriker:before {
  content: "T"; }

i.xwing-miniatures-ship-upsilonclasscommandshuttle:before {
  content: "U"; }

i.xwing-miniatures-ship-ut60duwing:before {
  content: "u"; }

i.xwing-miniatures-ship-v19torrentstarfighter:before {
  content: "^"; }

i.xwing-miniatures-ship-vcx100lightfreighter:before {
  content: "G"; }

i.xwing-miniatures-ship-vt49decimator:before {
  content: "d"; }

i.xwing-miniatures-ship-vultureclassdroidfighter:before {
  content: "_"; }

i.xwing-miniatures-ship-yt2400lightfreighter:before {
  content: "o"; }

i.xwing-miniatures-ship-yv666lightfreighter:before {
  content: "t"; }

i.xwing-miniatures-ship-z95af4headhunter:before {
  content: "z"; }
