.App {
}

.redBgr {
  background-color: crimson;
  height: 50px;
}

h1 {
  text-align: center;
  background-color: white;
}

h2 {
  text-align: left;
  font-size: 1.4em !important;
  padding-top: 15px;
}

h3 {
  font-size: 1.2em !important;
  padding-top: 10px;
  text-align: center;
}

.attack {
  color: crimson;
}

.range {
  font-size: 50%;
}

.columns2 {
  column-count: 2;
}

/*************/
/* VARIABLES */
/*************/

.btn-increment {
  width: 38px;
}

#btn-remove_ship {
  margin-left: -10px;
}

/************/
/* CAROUSEL */
/************/


.slide-arrow.right {
  right: 0;
}

.slide-arrow:hover {
  background-color: #9f9f9f;
  font-size: 36px;
  color: white;
  opacity: 0.4;
  transition: opacity 0.5s;
}

ul {
  padding: 0;
}

/**************************/
/* TARGET POSITION PICKER */
/**************************/

#svg_container {
  padding-top: 5px;
}

.segmentOpacity {
  opacity: 1;
  transition: opacity 0.7s;
}

.segmentOpacity:hover {
  opacity: 0.4;
}

.active-segment {
  opacity: 0.4;
}

/*****************/
/* SHIP UpgradesSource */
/*****************/


.headline {
  text-align: center;
  color: white;
  background-color: #2059ff;
}

.variables {
  font-size: 28px;
  padding-left: 10px;
  padding-bottom: 10px;
}

#changeUpgradeLevelButtton {
  background-color: #007bff;
  text-align: center;
  cursor: pointer;
  color: white;
  opacity: 1;
  transition: opacity 0.4s;
}

#changeUpgradeLevelButtton:hover {
  opacity: 0.4;
}


/*********/
/* OTHER */
/*********/




