div {
  margin: 5px;
}

.App {
}

/* DIAL IMAGE AND BUTTONS */
.man_dial_img {
  max-width: 250px;
  margin-top: 30px;
}

.d-button {
  position: absolute;
  cursor: pointer;
}

.far-front {
  left: 50px;
  top: 70px;
}

.far-front-side {
  left: 175px;
  top: 180px;
}

.far-back-side {
  left: 175px;
  top: 340px;
}

.far-back {
  left: 50px;
  top: 455px;
}

.near-front {
  left: 18px;
  top: 160px;
}

.near-front-side {
  left: 70px;
  top: 225px;
}

.near-back-side {
  left: 70px;
  top: 300px;
}

.near-back {
  left: 18px;
  top: 365px;
}



/* OTHER */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



