.App {
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
  padding-top: 10px;
}

.shipStats {
  padding-left: 25px;
}

.shipStats li {
  margin-left: -25px;
}

.btnRemoveShip {
}

/* DIAL IMAGE AND BUTTONS */
.man_dial_img {
  max-width: 250px;
  margin-top: 0px;
}

.d-button {
  position: absolute;
  cursor: pointer;
}

.far-front {
  left: 50px;
  top: 170px;
}

.far-front-side {
  left: 175px;
  top: 280px;
}

.far-back-side {
  left: 175px;
  top: 440px;
}

.far-back {
  left: 50px;
  top: 555px;
}

.near-front {
  left: 18px;
  top: 260px;
}

.near-front-side {
  left: 70px;
  top: 325px;
}

.near-back-side {
  left: 70px;
  top: 400px;
}

.near-back {
  left: 18px;
  top: 465px;
}



/* OTHER */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



